# 1. 데이터 생성하기

In [3]:
import pandas as pd

## 열 별로 데이터 생성하기

In [6]:
df = pd.DataFrame(
{"a" : [4, 5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])

In [7]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

데이터 프레임의 기본 구조

1. 행과 열로 이루어짐(row & column)
2. 행과 열은 각각 인덱스, 컬럼 이름으로 접근함

## 행 별로 데이터 생성하기

In [12]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c'])

In [13]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

## multi-index 데이터 프레임 만들기

In [19]:
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = pd.MultiIndex.from_tuples(
[('d', 1), ('d', 2),
('e', 2)], names=['n', 'v']))

In [20]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

## 데이터 외부에서 불러오기

In [21]:
cal_data = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [22]:
cal_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [24]:
sleep = pd.read_csv('/content/sleep.csv', encoding = 'CP949')

In [111]:
sleep = pd.read_csv('/content/sleep.csv', encoding = 'CP949', index_col=[0,1], header = [0,1,2,3])

In [112]:
sleep

응답자유형별(1)          2017                                                     \
응답자유형별(1)    5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%) 9시간 이상 (%)
전체                  4.5      14.6      20.4      23.7      22.5       14.3
성별                  3.5      12.1      19.5      24.9      25.0       15.0
성별     여자           5.6      17.3      21.3      22.4      19.8       13.5
학교급    초등학교         0.2       0.8       3.4      14.8      39.7       41.1
       중학교          1.5       7.6      20.0      36.6      27.5        6.8
       고등학교        10.2      30.8      33.2      19.7       5.6        0.6
고교유형   일반계고        11.5      34.5      32.9      16.7       3.9        0.4
       특성화계고        4.4      14.9      34.5      32.2      12.7        1.3
지역규모   대도시          5.9      15.6      21.4      22.8      22.1       12.1
       중소도시         3.1      12.5      18.7      24.7      24.1       17.0
       읍면지역         4.6      18.3      22.3      23.5      18.8       12.5
가족유형   양부모가정        4.3      14.5      20.0      23.6      22.8       14.7
       한부모가정        7.1      16.7      24.4      25.1      19.1        7.6
       조손가정         3.7      10.3      22.5      18.2      23.7       21.7
       기타           2.8      12.5      19.1      26.5      19.0       20.2
학업성적   상            3.1      10.6      17.8      23.3      26.1       19.1
       중            4.3      14.6      19.5      23.7      22.7       15.2
       하            6.9      20.5      25.6      24.4      16.8        5.8
경제적 수준 상            3.8      12.1      17.2      23.2      25.6       18.1
       중            4.8      16.3      23.6      24.0      20.3       11.0
       하            7.0      22.2      26.2      25.4      13.3        5.9

응답자유형별(1)                  2018                      ...      2020             \
응답자유형별(1)    평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%)  ... 8~9시간 (%) 9시간 이상 (%)
전체               7.3        5.0      14.7      19.8  ...      20.4       27.2
성별               7.4        3.9      11.3      20.1  ...      21.9       30.3
성별     여자        7.1        6.2      18.3      19.5  ...      18.7       23.8
학교급    초등학교      8.6        0.2       0.6       3.4  ...      24.4       64.5
       중학교       7.4        1.3       7.9      17.8  ...      28.5       15.3
       고등학교      6.2       11.9      31.6      34.4  ...       9.1        2.8
고교유형   일반계고      6.0       12.6      34.5      34.3  ...       7.7        1.7
       특성화계고     6.7        8.8      19.4      35.2  ...      15.2        7.5
지역규모   대도시       7.1        6.0      16.4      20.3  ...      19.6       25.8
       중소도시      7.4        4.5      13.6      18.7  ...      21.2       29.3
       읍면지역      7.1        3.7      13.2      23.1  ...      19.8       23.8
가족유형   양부모가정     7.3        5.0      14.8      19.6  ...      20.4       27.4
       한부모가정     6.9        5.4      15.3      24.1  ...      20.8       17.7
       조손가정      7.6        5.3      11.0       9.8  ...      20.6       39.6
       기타        7.4        2.6       6.1      17.0  ...      23.6       41.9
학업성적   상         7.5        3.5      10.4      15.4  ...      22.3       35.3
       중         7.3        4.3      14.0      19.1  ...      20.9       29.0
       하         6.8        8.4      22.1      27.2  ...      16.9       12.1
경제적 수준 상         7.5        4.0      12.3      16.2  ...      20.7       33.2
       중         7.1        5.4      16.3      23.8  ...      21.2       20.3
       하         6.7        9.4      22.3      25.3  ...      14.4       13.9

응답자유형별(1)                  2021                                          \
응답자유형별(1)    평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%)
전체               7.2        9.6      15.1      17.9      19.0      20.3
성별               7.4        7.3      13.5      17.8      19.4      22.1
성별     여자        7.0       12.2      16.9      18.0      18.6      18.3
학교급    초등학교      8.7        0.7       1.8       4.3      14.0      33.5
       중학교       7.0        6.2      12.2      22.1      30.0      22.6
       고등학교      5.9       22.0      31.5      27.4      13.2       4.7
고교유형   일반계고      5.8       23.4      34.6      26.7      11.1       3.4
       특성화계고     6.4       16.6      19.1      30.1      21.5       9.8
지역규모   대도시       7.1       11.3      15.8      18.5      19.3      18.6
       중소도시      7.3        8.1      13.0      17.0      19.6      22.7
       읍면지역      7.0       10.7      22.1      19.9      15.8      15.7
가족유형   양부모가정     7.2        9.6      15.1      17.6      18.8      20.7
       한부모가정     6.8       13.0      18.8      23.3      20.2      13.6
       조손가정      7.7        0.8       4.1      14.3      22.6      25.7
       기타        7.8        4.5       6.8      13.5      24.2      18.9
학업성적   상         7.6        5.7      12.0      15.1      18.5      24.1
       중         7.3        9.4      14.9      17.9      19.3      20.3
       하         6.4       16.8      20.9      22.7      19.4      13.8
경제적 수준 상         7.4        7.6      12.7      15.6      18.2      23.1
       중         6.9       11.1      17.4      20.2      21.7      16.9
       하         6.4       17.7      23.7      25.1      13.6      13.5

응답자유형별(1)
응답자유형별(1)    9시간 이상 (%) 평균 (시간)
전체                 18.0     7.2
성별                 19.8     7.3
성별     여자          16.0     7.0
학교급    초등학교        45.7     8.7
       중학교          6.8     7.1
       고등학교         1.2     5.8
고교유형   일반계고         0.8     5.7
       특성화계고        2.9     6.3
지역규모   대도시         16.6     7.0
       중소도시        19.6     7.3
       읍면지역        15.7     6.9
가족유형   양부모가정       18.1     7.2
       한부모가정       11.0     6.7
       조손가정        32.5     8.2
       기타          32.2     7.8
학업성적   상           24.5     7.6
       중           18.3     7.2
       하            6.4     6.4
경제적 수준 상           22.7     7.4
       중           12.6     6.9
       하            6.3     6.3

[19 rows x 35 columns]

# 2. 데이터 접근하기

좋은 습관 들이기

In [35]:
cal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [36]:
cal_data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0

## row로 접근

In [38]:
cal_data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0

In [40]:
cal_data.tail(9)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [42]:
cal_data.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
11077,-120.99,39.22,16.0,1497.0,275.0,737.0,243.0,2.8942,182500.0
12533,-121.64,36.74,30.0,2628.0,444.0,1372.0,432.0,4.1696,175000.0
1369,-117.17,32.79,44.0,2262.0,647.0,3009.0,657.0,2.2663,123600.0
10174,-119.85,36.82,15.0,1387.0,236.0,638.0,195.0,5.5842,88900.0
78,-115.56,32.80,25.0,1311.0,375.0,1193.0,351.0,2.1979,63900.0
9152,-119.02,34.26,40.0,1498.0,292.0,707.0,249.0,3.7974,228700.0
8922,-118.85,34.04,21.0,3837.0,578.0,1509.0,509.0,8.4476,500001.0
2084,-117.34,34.02,28.0,2683.0,708.0,2047.0,636.0,2.2750,85400.0
12295,-121.49,38.52,37.0,1902.0,413.0,955.0,384.0,3.1014,96800.0
3516,-117.90,33.75,32.0,1893.0,431.0,2245.0,426.0,3.7143,163000.0

In [45]:
cal_data.nlargest(5, 'housing_median_age')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
325,-116.88,34.08,52.0,3419.0,777.0,710.0,265.0,3.9028,128600.0
1011,-117.10,32.76,52.0,2606.0,426.0,883.0,380.0,4.2813,270800.0
1074,-117.11,32.77,52.0,1506.0,233.0,478.0,240.0,4.3875,300000.0
1075,-117.11,32.77,52.0,1484.0,224.0,498.0,223.0,6.6053,331400.0
1103,-117.11,32.67,52.0,280.0,71.0,217.0,71.0,1.4844,83300.0

In [46]:
cal_data.nsmallest(2, 'latitude')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
680,-117.04,32.54,7.0,938.0,297.0,1187.0,282.0,1.2667,67500.0
679,-117.04,32.55,15.0,2206.0,648.0,2511.0,648.0,1.6348,93200.0

데이터 프레임 내에서 정렬하거나 최대, 최소값을 찾고, 그 인덱스 값을 찾을 때 많이 사용함

In [57]:
df2 = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

In [58]:
df2

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [59]:
df2.drop_duplicates(inplace = True)

In [60]:
df2

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

## column 접근

In [61]:
cal_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [62]:
cal_data['total_rooms']

0        5612.0
1        7650.0
2         720.0
3        1501.0
4        1454.0
          ...
16995    2217.0
16996    2349.0
16997    2677.0
16998    2672.0
16999    1820.0
Name: total_rooms, Length: 17000, dtype: float64

In [65]:
a = cal_data[['total_rooms','households',	'median_income']]

서브 데이터 프레임 생성함
특히 머신러닝에서 트레인, 테스트 데이터 나눌때, 혹은 범주형, 숫자형 데이터 나눌때 쓰임

## row와 col 동시에 접근

### iloc : 컬럼의 번호와 index의 번호로 조회함

In [70]:
cal_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [71]:
cal_data.iloc[1:4]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0

In [74]:
cal_data.iloc[1,2]

19.0

In [75]:
cal_data.iloc[0:3,2:4]

   housing_median_age  total_rooms
0                15.0       5612.0
1                19.0       7650.0
2                17.0        720.0

In [77]:
cal_data.iloc[0:3,:]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0

### loc : 컬럼의 이름과 index의 이름으로 조회함

In [79]:
cal_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [78]:
cal_data.loc[2, 'latitude']

33.69

In [80]:
cal_data.loc[:, 'latitude':'median_income']

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936
1,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200
2,33.69,17.0,720.0,174.0,333.0,117.0,1.6509
3,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917
4,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250
...,...,...,...,...,...,...,...
16995,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571
16996,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179
16997,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313
16998,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797
16999,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147

불린형 조건도 가능함

In [81]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c'])

In [82]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [84]:
df.loc[[True, False, True]]

   a  b   c
1  4  7  10
3  6  9  12

In [87]:
cal_data['latitude'] > 35

0        False
1        False
2        False
3        False
4        False
         ...
16995     True
16996     True
16997     True
16998     True
16999     True
Name: latitude, Length: 17000, dtype: bool

In [90]:
cal_data.loc[cal_data['latitude'] == 35, 'latitude']

10683    35.0
Name: latitude, dtype: float64

# 잠을 덜 잘수록 성적이 좋을까?

In [92]:
sleep.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 21 entries, ('전체', '소계') to ('경제적 수준', '하')
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (2017, 5시간 미만 (%))  21 non-null     float64
 1   (2017, 5~6시간 (%))   21 non-null     float64
 2   (2017, 6~7시간 (%))   21 non-null     float64
 3   (2017, 7~8시간 (%))   21 non-null     float64
 4   (2017, 8~9시간 (%))   21 non-null     float64
 5   (2017, 9시간 이상 (%))  21 non-null     float64
 6   (2017, 평균 (시간))     21 non-null     float64
 7   (2018, 5시간 미만 (%))  21 non-null     float64
 8   (2018, 5~6시간 (%))   21 non-null     float64
 9   (2018, 6~7시간 (%))   21 non-null     float64
 10  (2018, 7~8시간 (%))   21 non-null     float64
 11  (2018, 8~9시간 (%))   21 non-null     float64
 12  (2018, 9시간 이상 (%))  21 non-null     float64
 13  (2018, 평균 (시간))     21 non-null     float64
 14  (2019, 5시간 미만 (%))  21 non-null     float64
 15  (2019, 5~6시간 (%))   21 non-null     float64
 16  (2019, 6~7시간 (%))   21 non-null     float64
 17  (2019, 7~8시간 (%))   21 non-null     float64
 18  (2019, 8~9시간 (%))   21 non-null     float64
 19  (2019, 9시간 이상 (%))  21 non-null     float64
 20  (2019, 평균 (시간))     21 non-null     float64
 21  (2020, 5시간 미만 (%))  21 non-null     float64
 22  (2020, 5~6시간 (%))   21 non-null     float64
 23  (2020, 6~7시간 (%))   21 non-null     float64
 24  (2020, 7~8시간 (%))   21 non-null     float64
 25  (2020, 8~9시간 (%))   21 non-null     float64
 26  (2020, 9시간 이상 (%))  21 non-null     float64
 27  (2020, 평균 (시간))     21 non-null     float64
 28  (2021, 5시간 미만 (%))  21 non-null     float64
 29  (2021, 5~6시간 (%))   21 non-null     float64
 30  (2021, 6~7시간 (%))   21 non-null     float64
 31  (2021, 7~8시간 (%))   21 non-null     float64
 32  (2021, 8~9시간 (%))   21 non-null     float64
 33  (2021, 9시간 이상 (%))  21 non-null     float64
 34  (2021, 평균 (시간))     21 non-null     float64
dtypes: float64(35)
memory usage: 6.9+ KB

In [93]:
sleep

응답자유형별(1)          2017                                                     \
응답자유형별(1)    5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%) 9시간 이상 (%)
전체     소계           4.5      14.6      20.4      23.7      22.5       14.3
성별     남자           3.5      12.1      19.5      24.9      25.0       15.0
       여자           5.6      17.3      21.3      22.4      19.8       13.5
학교급    초등학교         0.2       0.8       3.4      14.8      39.7       41.1
       중학교          1.5       7.6      20.0      36.6      27.5        6.8
       고등학교        10.2      30.8      33.2      19.7       5.6        0.6
고교유형   일반계고        11.5      34.5      32.9      16.7       3.9        0.4
       특성화계고        4.4      14.9      34.5      32.2      12.7        1.3
지역규모   대도시          5.9      15.6      21.4      22.8      22.1       12.1
       중소도시         3.1      12.5      18.7      24.7      24.1       17.0
       읍면지역         4.6      18.3      22.3      23.5      18.8       12.5
가족유형   양부모가정        4.3      14.5      20.0      23.6      22.8       14.7
       한부모가정        7.1      16.7      24.4      25.1      19.1        7.6
       조손가정         3.7      10.3      22.5      18.2      23.7       21.7
       기타           2.8      12.5      19.1      26.5      19.0       20.2
학업성적   상            3.1      10.6      17.8      23.3      26.1       19.1
       중            4.3      14.6      19.5      23.7      22.7       15.2
       하            6.9      20.5      25.6      24.4      16.8        5.8
경제적 수준 상            3.8      12.1      17.2      23.2      25.6       18.1
       중            4.8      16.3      23.6      24.0      20.3       11.0
       하            7.0      22.2      26.2      25.4      13.3        5.9

응답자유형별(1)                  2018                      ...      2020             \
응답자유형별(1)    평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%)  ... 8~9시간 (%) 9시간 이상 (%)
전체     소계        7.3        5.0      14.7      19.8  ...      20.4       27.2
성별     남자        7.4        3.9      11.3      20.1  ...      21.9       30.3
       여자        7.1        6.2      18.3      19.5  ...      18.7       23.8
학교급    초등학교      8.6        0.2       0.6       3.4  ...      24.4       64.5
       중학교       7.4        1.3       7.9      17.8  ...      28.5       15.3
       고등학교      6.2       11.9      31.6      34.4  ...       9.1        2.8
고교유형   일반계고      6.0       12.6      34.5      34.3  ...       7.7        1.7
       특성화계고     6.7        8.8      19.4      35.2  ...      15.2        7.5
지역규모   대도시       7.1        6.0      16.4      20.3  ...      19.6       25.8
       중소도시      7.4        4.5      13.6      18.7  ...      21.2       29.3
       읍면지역      7.1        3.7      13.2      23.1  ...      19.8       23.8
가족유형   양부모가정     7.3        5.0      14.8      19.6  ...      20.4       27.4
       한부모가정     6.9        5.4      15.3      24.1  ...      20.8       17.7
       조손가정      7.6        5.3      11.0       9.8  ...      20.6       39.6
       기타        7.4        2.6       6.1      17.0  ...      23.6       41.9
학업성적   상         7.5        3.5      10.4      15.4  ...      22.3       35.3
       중         7.3        4.3      14.0      19.1  ...      20.9       29.0
       하         6.8        8.4      22.1      27.2  ...      16.9       12.1
경제적 수준 상         7.5        4.0      12.3      16.2  ...      20.7       33.2
       중         7.1        5.4      16.3      23.8  ...      21.2       20.3
       하         6.7        9.4      22.3      25.3  ...      14.4       13.9

응답자유형별(1)                  2021                                          \
응답자유형별(1)    평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%)
전체     소계        7.2        9.6      15.1      17.9      19.0      20.3
성별     남자        7.4        7.3      13.5      17.8      19.4      22.1
       여자        7.0       12.2      16.9      18.0      18.6      18.3
학교급    초등학교      8.7        0.7       1.8       4.3      14.0      33.5
       중학교       7.0        6.2      12.2      22.1      30.0      22.6
       고등학교      5.9       22.0      31.5      27.4      13.2       4.7
고교유형   일반계고      5.8       23.4      34.6      26.7      11.1       3.4
       특성화계고     6.4       16.6      19.1      30.1      21.5       9.8
지역규모   대도시       7.1       11.3      15.8      18.5      19.3      18.6
       중소도시      7.3        8.1      13.0      17.0      19.6      22.7
       읍면지역      7.0       10.7      22.1      19.9      15.8      15.7
가족유형   양부모가정     7.2        9.6      15.1      17.6      18.8      20.7
       한부모가정     6.8       13.0      18.8      23.3      20.2      13.6
       조손가정      7.7        0.8       4.1      14.3      22.6      25.7
       기타        7.8        4.5       6.8      13.5      24.2      18.9
학업성적   상         7.6        5.7      12.0      15.1      18.5      24.1
       중         7.3        9.4      14.9      17.9      19.3      20.3
       하         6.4       16.8      20.9      22.7      19.4      13.8
경제적 수준 상         7.4        7.6      12.7      15.6      18.2      23.1
       중         6.9       11.1      17.4      20.2      21.7      16.9
       하         6.4       17.7      23.7      25.1      13.6      13.5

응답자유형별(1)
응답자유형별(1)    9시간 이상 (%) 평균 (시간)
전체     소계          18.0     7.2
성별     남자          19.8     7.3
       여자          16.0     7.0
학교급    초등학교        45.7     8.7
       중학교          6.8     7.1
       고등학교         1.2     5.8
고교유형   일반계고         0.8     5.7
       특성화계고        2.9     6.3
지역규모   대도시         16.6     7.0
       중소도시        19.6     7.3
       읍면지역        15.7     6.9
가족유형   양부모가정       18.1     7.2
       한부모가정       11.0     6.7
       조손가정        32.5     8.2
       기타          32.2     7.8
학업성적   상           24.5     7.6
       중           18.3     7.2
       하            6.4     6.4
경제적 수준 상           22.7     7.4
       중           12.6     6.9
       하            6.3     6.3

[21 rows x 35 columns]

In [94]:
data2 = sleep.loc[[('학업성적','상'), ('학업성적','중'),('학업성적','하')], :]

In [96]:
data2

응답자유형별(1)       2017                                                     \
응답자유형별(1) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%) 9시간 이상 (%)
학업성적 상           3.1      10.6      17.8      23.3      26.1       19.1
     중           4.3      14.6      19.5      23.7      22.7       15.2
     하           6.9      20.5      25.6      24.4      16.8        5.8

응답자유형별(1)               2018                      ...      2020             \
응답자유형별(1) 평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%)  ... 8~9시간 (%) 9시간 이상 (%)
학업성적 상        7.5        3.5      10.4      15.4  ...      22.3       35.3
     중        7.3        4.3      14.0      19.1  ...      20.9       29.0
     하        6.8        8.4      22.1      27.2  ...      16.9       12.1

응답자유형별(1)               2021                                          \
응답자유형별(1) 평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%)
학업성적 상        7.6        5.7      12.0      15.1      18.5      24.1
     중        7.3        9.4      14.9      17.9      19.3      20.3
     하        6.4       16.8      20.9      22.7      19.4      13.8

응답자유형별(1)
응답자유형별(1) 9시간 이상 (%) 평균 (시간)
학업성적 상          24.5     7.6
     중          18.3     7.2
     하           6.4     6.4

[3 rows x 35 columns]

In [99]:
data2['2021']

응답자유형별(1)  5시간 미만 (%)  5~6시간 (%)  6~7시간 (%)  7~8시간 (%)  8~9시간 (%)  9시간 이상 (%)  \
학업성적 상            5.7       12.0       15.1       18.5       24.1        24.5
     중            9.4       14.9       17.9       19.3       20.3        18.3
     하           16.8       20.9       22.7       19.4       13.8         6.4

응답자유형별(1)  평균 (시간)
학업성적 상         7.6
     중         7.2
     하         6.4

성적이 좋은 학생일수록 평균 수면 시간이 높음 -> 잠을 덜잘수록 성적이 좋다고 할 수 없음

연도별 데이터는 어떻게 활용할까?

In [100]:
data2

응답자유형별(1)       2017                                                     \
응답자유형별(1) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%) 9시간 이상 (%)
학업성적 상           3.1      10.6      17.8      23.3      26.1       19.1
     중           4.3      14.6      19.5      23.7      22.7       15.2
     하           6.9      20.5      25.6      24.4      16.8        5.8

응답자유형별(1)               2018                      ...      2020             \
응답자유형별(1) 평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%)  ... 8~9시간 (%) 9시간 이상 (%)
학업성적 상        7.5        3.5      10.4      15.4  ...      22.3       35.3
     중        7.3        4.3      14.0      19.1  ...      20.9       29.0
     하        6.8        8.4      22.1      27.2  ...      16.9       12.1

응답자유형별(1)               2021                                          \
응답자유형별(1) 평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%)
학업성적 상        7.6        5.7      12.0      15.1      18.5      24.1
     중        7.3        9.4      14.9      17.9      19.3      20.3
     하        6.4       16.8      20.9      22.7      19.4      13.8

응답자유형별(1)
응답자유형별(1) 9시간 이상 (%) 평균 (시간)
학업성적 상          24.5     7.6
     중          18.3     7.2
     하           6.4     6.4

[3 rows x 35 columns]

In [101]:
data2[[('2017', '평균 (시간)'), ('2018', '평균 (시간)'), ('2019', '평균 (시간)'), ('2020', '평균 (시간)'), ('2021', '평균 (시간)')]]

응답자유형별(1)    2017    2018    2019    2020    2021
응답자유형별(1) 평균 (시간) 평균 (시간) 평균 (시간) 평균 (시간) 평균 (시간)
학업성적 상        7.5     7.7     7.7     7.6     7.6
     중        7.3     7.4     7.4     7.3     7.2
     하        6.8     6.7     6.8     6.4     6.4

매년 학업성적이 '상'인 응답자의 평균 수면 시간이 가장 많았음

4년 전에 비해 상의 응답자만 평균 수면 시간이 늘었고, 하의 경우 평균 수면 시간이 가장 많이 줄었음

수면 부족군 : 7시간 미만인 학생들

In [102]:
data2

응답자유형별(1)       2017                                                     \
응답자유형별(1) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%) 9시간 이상 (%)
학업성적 상           3.1      10.6      17.8      23.3      26.1       19.1
     중           4.3      14.6      19.5      23.7      22.7       15.2
     하           6.9      20.5      25.6      24.4      16.8        5.8

응답자유형별(1)               2018                      ...      2020             \
응답자유형별(1) 평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%)  ... 8~9시간 (%) 9시간 이상 (%)
학업성적 상        7.5        3.5      10.4      15.4  ...      22.3       35.3
     중        7.3        4.3      14.0      19.1  ...      20.9       29.0
     하        6.8        8.4      22.1      27.2  ...      16.9       12.1

응답자유형별(1)               2021                                          \
응답자유형별(1) 평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%)
학업성적 상        7.6        5.7      12.0      15.1      18.5      24.1
     중        7.3        9.4      14.9      17.9      19.3      20.3
     하        6.4       16.8      20.9      22.7      19.4      13.8

응답자유형별(1)
응답자유형별(1) 9시간 이상 (%) 평균 (시간)
학업성적 상          24.5     7.6
     중          18.3     7.2
     하           6.4     6.4

[3 rows x 35 columns]

In [103]:
data2[('2021', '수면부족군')] = data2[('2021', '5시간 미만 (%)')] + data2[('2021', '5~6시간 (%)')]+ data2[('2021', '6~7시간 (%)')]

In [104]:
data2

응답자유형별(1)       2017                                                     \
응답자유형별(1) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%) 9시간 이상 (%)
학업성적 상           3.1      10.6      17.8      23.3      26.1       19.1
     중           4.3      14.6      19.5      23.7      22.7       15.2
     하           6.9      20.5      25.6      24.4      16.8        5.8

응답자유형별(1)               2018                      ...       2020          \
응답자유형별(1) 평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%)  ... 9시간 이상 (%) 평균 (시간)
학업성적 상        7.5        3.5      10.4      15.4  ...       35.3     7.6
     중        7.3        4.3      14.0      19.1  ...       29.0     7.3
     하        6.8        8.4      22.1      27.2  ...       12.1     6.4

응답자유형별(1)       2021                                                     \
응답자유형별(1) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%) 9시간 이상 (%)
학업성적 상           5.7      12.0      15.1      18.5      24.1       24.5
     중           9.4      14.9      17.9      19.3      20.3       18.3
     하          16.8      20.9      22.7      19.4      13.8        6.4

응답자유형별(1)
응답자유형별(1) 평균 (시간) 수면부족군
학업성적 상        7.6  32.8
     중        7.2  42.2
     하        6.4  60.4

[3 rows x 36 columns]

In [105]:
data2[('2021', '수면부족군')] = data2[('2021', '5시간 미만 (%)')] + data2[('2021', '5~6시간 (%)')]+ data2[('2021', '5~6시간 (%)')]
data2[('2020', '수면부족군')] = data2[('2020', '5시간 미만 (%)')] + data2[('2020', '5~6시간 (%)')]+ data2[('2020', '5~6시간 (%)')]
data2[('2019', '수면부족군')] = data2[('2019', '5시간 미만 (%)')] + data2[('2019', '5~6시간 (%)')]+ data2[('2019', '5~6시간 (%)')]
data2[('2018', '수면부족군')] = data2[('2018', '5시간 미만 (%)')] + data2[('2018', '5~6시간 (%)')]+ data2[('2018', '5~6시간 (%)')]
data2[('2017', '수면부족군')] = data2[('2017', '5시간 미만 (%)')] + data2[('2017', '5~6시간 (%)')]+ data2[('2017', '5~6시간 (%)')]

In [107]:
data2[[('2017', '수면부족군'), ('2018', '수면부족군'), ('2019', '수면부족군'), ('2020', '수면부족군'), ('2021', '수면부족군')]]

응답자유형별(1)  2017  2018  2019  2020  2021
응답자유형별(1) 수면부족군 수면부족군 수면부족군 수면부족군 수면부족군
학업성적 상     24.3  24.3  26.3  19.3  29.7
     중     33.5  32.3  34.7  24.9  39.2
     하     47.9  52.6  46.6  44.4  58.6

공부해볼 거리

1. 학생들은 학년이 올라갈수록 잠을 덜잘까?
2. 2019년에 5시간 미만 수면시간이 가장 많은 학생군(인덱스)는?
3. 2020년에 전체 9시간 이상 비중보다 높은 비중을 가진 학생군은?

생각해볼 거리

위 데이터를 생성한 raw 파일은 어떤 형태였을까?

In [108]:
sleep

응답자유형별(1)          2017                                                     \
응답자유형별(1)    5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%) 9시간 이상 (%)
전체     소계           4.5      14.6      20.4      23.7      22.5       14.3
성별     남자           3.5      12.1      19.5      24.9      25.0       15.0
       여자           5.6      17.3      21.3      22.4      19.8       13.5
학교급    초등학교         0.2       0.8       3.4      14.8      39.7       41.1
       중학교          1.5       7.6      20.0      36.6      27.5        6.8
       고등학교        10.2      30.8      33.2      19.7       5.6        0.6
고교유형   일반계고        11.5      34.5      32.9      16.7       3.9        0.4
       특성화계고        4.4      14.9      34.5      32.2      12.7        1.3
지역규모   대도시          5.9      15.6      21.4      22.8      22.1       12.1
       중소도시         3.1      12.5      18.7      24.7      24.1       17.0
       읍면지역         4.6      18.3      22.3      23.5      18.8       12.5
가족유형   양부모가정        4.3      14.5      20.0      23.6      22.8       14.7
       한부모가정        7.1      16.7      24.4      25.1      19.1        7.6
       조손가정         3.7      10.3      22.5      18.2      23.7       21.7
       기타           2.8      12.5      19.1      26.5      19.0       20.2
학업성적   상            3.1      10.6      17.8      23.3      26.1       19.1
       중            4.3      14.6      19.5      23.7      22.7       15.2
       하            6.9      20.5      25.6      24.4      16.8        5.8
경제적 수준 상            3.8      12.1      17.2      23.2      25.6       18.1
       중            4.8      16.3      23.6      24.0      20.3       11.0
       하            7.0      22.2      26.2      25.4      13.3        5.9

응답자유형별(1)                  2018                      ...      2020             \
응답자유형별(1)    평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%)  ... 8~9시간 (%) 9시간 이상 (%)
전체     소계        7.3        5.0      14.7      19.8  ...      20.4       27.2
성별     남자        7.4        3.9      11.3      20.1  ...      21.9       30.3
       여자        7.1        6.2      18.3      19.5  ...      18.7       23.8
학교급    초등학교      8.6        0.2       0.6       3.4  ...      24.4       64.5
       중학교       7.4        1.3       7.9      17.8  ...      28.5       15.3
       고등학교      6.2       11.9      31.6      34.4  ...       9.1        2.8
고교유형   일반계고      6.0       12.6      34.5      34.3  ...       7.7        1.7
       특성화계고     6.7        8.8      19.4      35.2  ...      15.2        7.5
지역규모   대도시       7.1        6.0      16.4      20.3  ...      19.6       25.8
       중소도시      7.4        4.5      13.6      18.7  ...      21.2       29.3
       읍면지역      7.1        3.7      13.2      23.1  ...      19.8       23.8
가족유형   양부모가정     7.3        5.0      14.8      19.6  ...      20.4       27.4
       한부모가정     6.9        5.4      15.3      24.1  ...      20.8       17.7
       조손가정      7.6        5.3      11.0       9.8  ...      20.6       39.6
       기타        7.4        2.6       6.1      17.0  ...      23.6       41.9
학업성적   상         7.5        3.5      10.4      15.4  ...      22.3       35.3
       중         7.3        4.3      14.0      19.1  ...      20.9       29.0
       하         6.8        8.4      22.1      27.2  ...      16.9       12.1
경제적 수준 상         7.5        4.0      12.3      16.2  ...      20.7       33.2
       중         7.1        5.4      16.3      23.8  ...      21.2       20.3
       하         6.7        9.4      22.3      25.3  ...      14.4       13.9

응답자유형별(1)                  2021                                          \
응답자유형별(1)    평균 (시간) 5시간 미만 (%) 5~6시간 (%) 6~7시간 (%) 7~8시간 (%) 8~9시간 (%)
전체     소계        7.2        9.6      15.1      17.9      19.0      20.3
성별     남자        7.4        7.3      13.5      17.8      19.4      22.1
       여자        7.0       12.2      16.9      18.0      18.6      18.3
학교급    초등학교      8.7        0.7       1.8       4.3      14.0      33.5
       중학교       7.0        6.2      12.2      22.1      30.0      22.6
       고등학교      5.9       22.0      31.5      27.4      13.2       4.7
고교유형   일반계고      5.8       23.4      34.6      26.7      11.1       3.4
       특성화계고     6.4       16.6      19.1      30.1      21.5       9.8
지역규모   대도시       7.1       11.3      15.8      18.5      19.3      18.6
       중소도시      7.3        8.1      13.0      17.0      19.6      22.7
       읍면지역      7.0       10.7      22.1      19.9      15.8      15.7
가족유형   양부모가정     7.2        9.6      15.1      17.6      18.8      20.7
       한부모가정     6.8       13.0      18.8      23.3      20.2      13.6
       조손가정      7.7        0.8       4.1      14.3      22.6      25.7
       기타        7.8        4.5       6.8      13.5      24.2      18.9
학업성적   상         7.6        5.7      12.0      15.1      18.5      24.1
       중         7.3        9.4      14.9      17.9      19.3      20.3
       하         6.4       16.8      20.9      22.7      19.4      13.8
경제적 수준 상         7.4        7.6      12.7      15.6      18.2      23.1
       중         6.9       11.1      17.4      20.2      21.7      16.9
       하         6.4       17.7      23.7      25.1      13.6      13.5

응답자유형별(1)
응답자유형별(1)    9시간 이상 (%) 평균 (시간)
전체     소계          18.0     7.2
성별     남자          19.8     7.3
       여자          16.0     7.0
학교급    초등학교        45.7     8.7
       중학교          6.8     7.1
       고등학교         1.2     5.8
고교유형   일반계고         0.8     5.7
       특성화계고        2.9     6.3
지역규모   대도시         16.6     7.0
       중소도시        19.6     7.3
       읍면지역        15.7     6.9
가족유형   양부모가정       18.1     7.2
       한부모가정       11.0     6.7
       조손가정        32.5     8.2
       기타          32.2     7.8
학업성적   상           24.5     7.6
       중           18.3     7.2
       하            6.4     6.4
경제적 수준 상           22.7     7.4
       중           12.6     6.9
       하            6.3     6.3

[21 rows x 35 columns]